.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.link{
    text-decoration: none;
}

.btn-checkout {
    background: #ff9900;
    width: 90%;
    height: 38px;
    font-size: 15px;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}